# Firebase Configuration
# Get these values from: https://console.firebase.google.com/project/YOUR_PROJECT/settings/general
REACT_APP_FIREBASE_API_KEY=AIzaSyC-zCE5CK9I9HkZiyYbTELjxdSrfAIfeOY
REACT_APP_FIREBASE_AUTH_DOMAIN=bruno-eb0d6.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=bruno-eb0d6
REACT_APP_FIREBASE_STORAGE_BUCKET=bruno-eb0d6.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=859458162900
REACT_APP_FIREBASE_APP_ID=1:859458162900:web:6cc557f42729728769ab41